
body
{
    background-image:url("img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}
#demo
{
    border: 2px solid rgb(255, 129, 129);
    background-color:white ;
    width:200px;
    height:30px;
}
#u
{
    border: 2px solid black;
    background-color:white ;
    width:200px;
    height:30px;  
}
#output
{
    border: 2px solid black;
    background-color:white ;
    width:200px;
    height:30px;  
}
#type
{
    border: 2px solid black;
    background-color:white ;
    width:200px;
    height:30px;  
}
